%table.table.table-bordered
  %thead
    %tr
      %th Date of transaction
      %th Transaction type
      %th.text-right Amount
  %tbody
    - bank_account.account_transactions.each do |transaction|
      %tr
        %td #{transaction.created_at}
        %td #{transaction.transaction_type}
        %td.text-right #{number_to_currency(number_to_money(transaction.amount), unit: Money::ConstantsIdentity.money_unit )}
    %tr
      %th
      %th Balance
      %th.text-right #{number_to_currency(number_to_money(bank_account.balance), unit: Money::ConstantsIdentity.money_unit )}
